#Confirm-Box {
  width: 20em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1em 0.9em 0.6em 0.1em #777777;
  display: none;
  z-index: 1;
  opacity: 1;
  background-color: white;
}
.Confirm-Box__question,
.Confirm-Box__Delete,
.Confirm-Box__CANCLE {
  font-family: Calibri;
}
.Confirm-Box__question {
  width: 90%;
  height: 40%;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 1.2em;
}
.Confirm-Box__Buttons {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.Confirm-Box__Buttons--CANCLE {
  border-radius: 0.2em;
  width: 30%;
  height: 100%;
  background-color: white;
  color: black;
  border: none;
  font-size: large;
  padding: 0.5em;
  outline: none;
}
.Confirm-Box__Buttons--Delete {
  border-radius: 0.2em;
  width: 30%;
  height: 100%;
  background-color: royalblue;
  color: white;
  border: none;
  font-size: large;
  padding: 0.5em;
}
.Confirm-Box__Buttons--Delete:hover {
  cursor: pointer;
  color: royalblue;
  background-color: white;
}
