#Confirm-Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1em 0.9em 0.6em 0.1em #777777;
  display: none;
  z-index: 1;
  opacity: 1;
  background-color: white;
  border-radius: 0.4em;
  padding: 1em 1em;
}
.Confirm-Box__question {
  font-family: Calibri;
}
.Confirm-Box__question {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}
.Confirm-Box__Buttons {
  display: flex;
  justify-content: flex-end;
}
.Confirm-Box__Buttons--cancleButton,
.Confirm-Box__Buttons--deleteButton {
  padding: 1em 1.2em;
  border-radius: 0.4em;
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 7em;
}
.Confirm-Box__Buttons--deleteButton {
  background-color: #4f8aff;
  color: white;
}
.Confirm-Box__Buttons--cancleButton {
  margin-right: 1em;
}
.Confirm-Box__Buttons--deleteButton:hover {
  background-color: white;
  color: #4f8aff;
  border: 0.05em black solid;
  cursor: pointer;
}
.Confirm-Box__Buttons--cancleButton:hover {
  background-color: white;
  color: #4f8aff;
  border: 0.05em black solid;
  cursor: pointer;
}
