html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Form__Section {
  width: 60em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#UpSection {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 5em;
}
.UpSection__labels {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-content: center;
}
.UpSection__TaskLabel {
  text-align: right;
  margin-bottom: 0.9em;
}
.UpSection__TaskAssignee {
  text-align: right;
}
.UpSection__TaskInputs {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 1.2em;
  margin-left: 2em;
}
.UpSection__TaskInputs--taskInput,
.UpSection__TaskInputs--assigneeInput {
  padding: 0.5em;
  border: 0.05em solid black;
  border-radius: 0.3em;
}
.UpSection__TaskInputs--taskInput {
  margin-bottom: 0.9em;
}
.UpSection__Button {
  align-self: flex-end;
  margin-left: 1em;
  margin-bottom: -2.2em;
  width: 8em;
  height: 2em;
  padding: 1.5em;
}
.UpSection__Button--addButton {
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  border: 0.05em solid black;
}
.UpSection__Line {
  width: 60%;
  border-bottom: 0.1em black solid;
  margin-top: 2em;
}
.UpSection__Button--addButton:hover {
  cursor: pointer;
  color: #555555;
  font-weight: bold;
  background-color: white;
}
